{#
/**
  * @file
  * Default theme implementation to display a region.
  *
  * Available variables:
  * - content: The content for this region, typically blocks.
  * - attributes: HTML attributes for the region <div>.
  * - region: The name of the region variable as defined in the theme's
  *   .info.yml file.
  *
  * @see template_preprocess_region()
  *
  * @ingroup themeable
  */
#}
{% if content %}
  <header{{ attributes }}>
    <nav class="uk-navbar uk-navbar-container uk-margin" uk-navbar>
        <div class="nav-overlay uk-navbar-left">
            <a class="uk-navbar-toggle" href="#nav" uk-toggle="target: #nav">
                <span uk-navbar-toggle-icon></span>
            </a>
            {{ content }}
        </div>
        <div class="nav-overlay uk-navbar-right">

            <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>

        </div>

        <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
            <div class="uk-navbar-item uk-width-expand">
                <form method="GET" action="/search/node" class="uk-search uk-search-navbar uk-width-1-1 uk-width-1-5@l uk-width-1-4@m uk-width-1-2@s">
                    <input class="uk-search-input" name="keys" type="search" placeholder="Search..." autofocus>
                </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>
        </div>
    </nav>
  </header>

{% endif %}
